-- ============================================================================
-- Gunluk Trafik Raporu (Daily Traffic Report)
-- ============================================================================
-- Supabase SQL editorunde calistirin. Her bolum bagimsizdir; istediginizi
-- tek basina secip calistirabilirsiniz.
--
-- Kullanim:
--   1) Bolum 1: gunluk toplam istek -> genel gidisat (son 30 gun).
--   2) Bolum 2: gun x platform kirilimi -> hangi platform buyuyor.
--   3) Bolum 3: gun x endpoint kirilimi -> en cok kullanilan endpointler.
--   4) Bolum 4: bugun vs dun vs gecen hafta ayni gun -> hizli nabiz.
-- ============================================================================


-- ----------------------------------------------------------------------------
-- 1) Gunluk toplam istek (son 30 gun) + basari orani
-- ----------------------------------------------------------------------------
select
  date_trunc('day', created_at)::date                     as day,
  count(*)                                                as total_requests,
  count(*) filter (where status_code < 400)               as success,
  count(*) filter (where status_code >= 500)              as errors_5xx,
  round(100.0 * count(*) filter (where status_code < 400) / count(*), 1)
                                                          as success_pct,
  round(avg(response_time_ms))                            as avg_ms
from public.requests
where created_at >= now() - interval '30 days'
group by 1
order by 1 desc;


-- ----------------------------------------------------------------------------
-- 2) Platform x gun kirilimi — tarihler sutunlarda (son 14 gun)
--    Satir = platform, sutun = gun. "g-13" = 13 gun once, "bugun" = bugun.
--    Ilk satirdaki "= TOPLAM =" tum platformlarin gunluk toplamidir.
-- ----------------------------------------------------------------------------
select
  case when grouping(platform) = 1 then '= TOPLAM ='
       else coalesce(platform, 'other') end                      as platform,
  count(*) filter (where created_at::date = current_date - 13)   as "g-13",
  count(*) filter (where created_at::date = current_date - 12)   as "g-12",
  count(*) filter (where created_at::date = current_date - 11)   as "g-11",
  count(*) filter (where created_at::date = current_date - 10)   as "g-10",
  count(*) filter (where created_at::date = current_date - 9)    as "g-9",
  count(*) filter (where created_at::date = current_date - 8)    as "g-8",
  count(*) filter (where created_at::date = current_date - 7)    as "g-7",
  count(*) filter (where created_at::date = current_date - 6)    as "g-6",
  count(*) filter (where created_at::date = current_date - 5)    as "g-5",
  count(*) filter (where created_at::date = current_date - 4)    as "g-4",
  count(*) filter (where created_at::date = current_date - 3)    as "g-3",
  count(*) filter (where created_at::date = current_date - 2)    as "g-2",
  count(*) filter (where created_at::date = current_date - 1)    as "dun",
  count(*) filter (where created_at::date = current_date)        as "bugun",
  count(*)                                                       as toplam_14g
from public.requests
where created_at >= current_date - 13
group by rollup (platform)
order by grouping(platform) desc, toplam_14g desc;


-- ----------------------------------------------------------------------------
-- 3) Gun x endpoint kirilimi (son 7 gun, gunde 1+ istek alanlar)
-- ----------------------------------------------------------------------------
select
  date_trunc('day', created_at)::date                     as day,
  coalesce(platform, 'other')                             as platform,
  endpoint,
  count(*)                                                as requests,
  count(*) filter (where status_code >= 500)              as errors_5xx,
  round(avg(response_time_ms))                            as avg_ms
from public.requests
where created_at >= now() - interval '7 days'
group by 1, 2, 3
order by 1 desc, requests desc;


-- ----------------------------------------------------------------------------
-- 3b) Endpoint toplami (son 7 gun, gun kirilimsiz ozet)
-- ----------------------------------------------------------------------------
select
  coalesce(platform, 'other')                             as platform,
  endpoint,
  count(*)                                                as requests_7d,
  round(count(*) / 7.0, 1)                                as avg_per_day,
  count(*) filter (where status_code >= 500)              as errors_5xx,
  round(avg(response_time_ms))                            as avg_ms
from public.requests
where created_at >= now() - interval '7 days'
group by 1, 2
order by requests_7d desc;


-- ----------------------------------------------------------------------------
-- 4) Hizli nabiz: bugun vs dun vs gecen hafta ayni gun
-- ----------------------------------------------------------------------------
select
  case
    when created_at >= date_trunc('day', now())                                    then '1) bugun'
    when created_at >= date_trunc('day', now()) - interval '1 day'                 then '2) dun'
    else                                                                                '3) gecen hafta ayni gun'
  end                                                     as period,
  count(*)                                                as total_requests,
  count(distinct coalesce(platform, 'other'))             as platforms_used,
  count(distinct endpoint)                                as endpoints_used,
  count(*) filter (where status_code >= 500)              as errors_5xx
from public.requests
where created_at >= date_trunc('day', now())
   or (created_at >= date_trunc('day', now()) - interval '1 day'
       and created_at < date_trunc('day', now()))
   or (created_at >= date_trunc('day', now()) - interval '7 days'
       and created_at < date_trunc('day', now()) - interval '6 days')
group by 1
order by 1;
